<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <p>Welcome <%= fullName%></p>
    <p>Login success</p>
    <a href="/product/adminOptions">
      <button>See my products</button>
    </a>
    <a href="/product/new">
      <button>Add new article</button>
    </a>
  </body>
</html>
