<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products Form</title>
  </head>
  <body>
    <form method="POST" action="/product/adminOptions">
      <fieldset>
        <input name="name" placeholder="name of the product" type="text" />
        <input
          name="quantity"
          placeholder="quantity of the product"
          type="text"
        />
        <input name="price" placeholder="price of product" type="text" />
        <input name="image" placeholder="image url" type="text" />
        <input name="likes" placeholder="likes" type="Number" />
        <input type="submit" value="Add Info article" />
      </fieldset>
    </form>
  </body>
</html>
